################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FCG_CATALOGAPI/FileContentIndex
/FCG_CATALOGAPI/obj/Debug/net8.0/FCG_CATALOGAPI.AssemblyInfo.cs
/FCG_CATALOGAPI/obj/Debug/net8.0/refint/FCG_CATALOGAPI.dll
/FCG_CATALOGAPI/obj/Debug/net8.0/ref/FCG_CATALOGAPI.dll
/FCG_CATALOGAPI/obj/Debug/net8.0/apphost.exe
/FCG_CATALOGAPI/obj/Debug/net8.0/FCG_CATALOGAPI.AssemblyInfoInputs.cache
/FCG_CATALOGAPI/obj/Debug/net8.0/FCG_CATALOGAPI.dll
/FCG_CATALOGAPI/obj/Debug/net8.0/FCG_CATALOGAPI.pdb
/FCG_CATALOGAPI/obj/Debug/net8.0/FCG_CATALOGAPI.sourcelink.json
/FCG_CATALOGAPI/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/FCG_CATALOGAPI/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/FCG_CATALOGAPI/bin/Debug/net8.0/FCG_CATALOGAPI.dll
/FCG_CATALOGAPI/bin/Debug/net8.0/FCG_CATALOGAPI.exe
/FCG_CATALOGAPI/bin/Debug/net8.0/FCG_CATALOGAPI.pdb
/.vs/FCG_CATALOGAPI/v17/.suo
/.vs/FCG_CATALOGAPI/v17/DocumentLayout.backup.json
/.vs/FCG_CATALOGAPI/v17/DocumentLayout.json
/.vs/FCG_CATALOGAPI/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-wal
/.vs/FCG_CATALOGAPI/CopilotIndices/17.14.1368.60722/CodeChunks.db
/.vs/FCG_CATALOGAPI/CopilotIndices/17.14.1368.60722/CodeChunks.db-shm
/.vs/FCG_CATALOGAPI/CopilotIndices/17.14.1368.60722/CodeChunks.db-wal
/.vs/FCG_CATALOGAPI/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
/.vs/FCG_CATALOGAPI/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-shm
